.top{
    background-color: black;
    color: white;
    height:100px;
    width: 1280px;
}
.top h1{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}
div{
    width: 1280px;
}
div h1{
    text-align: center;
    font-size: 35px;
    padding: 10px 0;
}
ul{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}
li{
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
    width: 25%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
}
li:hover{
    background-color: #8a92f4;
}
li:hover a{
    color: white;
}