.aqi-chart-wrap{
    display: flex;
    width: 90%;
    height: 600px;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #000;
}
.aqi-chart-wrap div {
    border: 1px solid #000;
    flex: 1;
}