.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #383d4e;
}
@media (min-width: 640px) {
    .one{
        border: 1px solid #f5d2c8;
        width: 150px;
        height: 120px;
    }
    .two{
        border: 1px solid #aebdf2;
        width: 150px;
        height: 100px;
    }
    .three{
        border: 1px solid #a8e995;
        width: 150px;
        height: 40px;
    }
    .four{
        border: 1px solid #e86459;
        width: 150px;
        height: 200px;
    }
}
@media (max-width: 640px) {
    .container{
        align-items: flex-start;
    }
    .one-after{
        border: 1px solid #e86459;
        width: 150px;
        height: 200px;
        margin-top: 20px;
    }
    .two-after{
        border: 1px solid #f5d2c8;
        width: 150px;
        height: 120px;
        margin-top: 20px;
    }
    .three-after{
        border: 1px solid #aebdf2;
        width: 150px;
        height: 100px;
        margin-top: 20px;
    }
    .four-after{
        border: 1px solid #a8e995;
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }
}